@import "tailwindcss";

@theme {
  --font-calibri: "Calibri", "Candara", "Segoe UI", Optima, Arial, sans-serif;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-time-icon {
	appearance: none;
	-moz-appearance: textfield;
}

.no-time-icon::-webkit-calendar-picker-indicator,
.no-time-icon::-webkit-inner-spin-button {
	display: none;
	-webkit-appearance: none;
}



